[all:vars]

###############################################################################
# Required configuration variables for MicroShift Install                     #
###############################################################################

# (Optional) Activation-key for proper setup of subscription-manager, empty
# value skips registration
#activation_key=""

# (Optional) Activation-key org_id for proper setup of subscription-manager,
# empty value skips registration
#org_id=""
#
# Set the version of Operator SDK, default version: v1.17.0
#operator_sdk_version=""

[microshift]
microshift.example.com
